.text{
    text-align: center;
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit , minmax(260px,auto));
    gap: 2rem;
    height: 200%;
}
.class-product img{
    width: 100%;
    height: 60%;
} 
